<!--Referred to by routes.py/user/<username>-->
{% extends "base.html" %}

{% block content %}
    <h1>User: {{ user.username }}</h1>
    <table>     <!--Inserts avatar image in user profile-->
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
                <h1>User: {{ user.username }}</h1>
                <!--About me and Last Seen fields-->
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                <!--Edit Profile Link-->
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}  <!--Invokes sub-template post.html-->
    {% endfor %}
{% endblock %}